<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>
    <table>
        <tr>
            <th>Піца Техас</th>
            <th>Піца Барбекю</th>
            <th>Піца Маргарита</th>
        </tr>
        <tr>
            <td>Соус Барбекю, Моцарела, Цибуля,<br />
                Ковбаски баварські, Кукурудза, Гриби</td>
            <td>Курка, Соус Барбекю, Моцарела,<br />
                Цибуля, Гриби, Бекон</td>
            <td>Моцарела(x2), Соус Domino's<br />
                (подвійна порція моцарели)</td>
        </tr>
        <tr>
            <th>260.00 грн</th>
            <th>234.00 грн</th>
            <th>220.00 грн</th>
        </tr>
    </table>
</body>
</html>