<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" href="/static/menu.css">
    {% extends 'index.html' %}
</head>
<body>
    {% block title %}
    <h1>Меню</h1>
    {% endblock title %}

    {% block content %}

    {% for dish in dishes |sort(attribute='price') %}
    <li>
        {% if dish.price > 220 %} '
        <b>{{dish.dish}}: </b> {{dish.price}}<br>


    </li>
    {% endfor %}


    {% endblock content  %}
</body>
</html>